<div class="container">
  <div class="form-content">
  <form [formGroup]="form" (ngSubmit)="saveOrder()">
      <div>
        <label for="">Nombre</label>
        <input formControlName="name" type="text">
      </div>
      <div>
        <label for="">Teléfono</label>
        <input formControlName="cell_phone" type="text">
      </div>
      <div>
        <label for="">Correo</label>
        <input formControlName="email" type="text">
      </div>
      <div>
        <select formControlName="orderPlace">
          <option value="">Donde se realizó el pedido</option>
          <ng-container *ngFor="let order of orderPlaces">
            <option [value]="order.id_order_place">{{order.order_place}}</option>
          </ng-container>
        </select>
      </div>
      <br>
      <div>
        <ng-container formArrayName="orders">
          <ng-container *ngFor="let order of orders.controls; let i = index">
            <div [formGroupName]="i" >
              <div>
                <input formControlName="design" type="text" placeholder="Diseño">
              </div>
              <div>
                <input formControlName="payment" type="text" placeholder="Anticipo">
              </div>
              <div>
                <input formControlName="totalCost" type="text" placeholder="Total">
              </div>
              <div>
                <select formControlName="colorsOption">
                  <option value="">Selecciona un color</option>
                  <ng-container *ngFor="let color of garmentColors">
                    <option [value]="color.id_color">{{color.color_name}}</option>
                  </ng-container>
                </select>
              </div>
              <div>
                <select formControlName="genderOption">
                <option value="">Genero</option>
                <ng-container *ngFor="let gender of garmetGenders">
                  <option [value]="gender.id_gender">{{gender.gender}}</option>
                </ng-container>
                </select>
              </div>
              <div>
                <select formControlName="sizeOption">
                  <option value="">Selecciona una talla</option>
                  <ng-container *ngFor="let size of garmetSizes">
                    <option [value]="size.id_size">{{size.sizes}}</option>
                  </ng-container>
                </select>
              </div>
              <div>
                <select formControlName="printType" >
                <option value="">Selecciona el tipo de impresión</option>
                <ng-container *ngFor="let textylType of garmetTextilType">
                  <option [value]="textylType. id_textil_type">{{textylType.textil_type}}</option>
                </ng-container>
                </select>
                </div>
                <div>
                  <textarea formControlName="coments" placeholder="Comentarios"></textarea>
                </div>
            </div>
        </ng-container>
        </ng-container>
        </div>
        <div>
          <!-- <button [disabled]="this.form.invalid" (click)="addNewOrder()">Agregar pedido</button> -->
          <button (click)="addNewOrder()">Agregar pedido</button>
          <button [disabled]="this.form.invalid" [disabled]="buttonDisabled" type="submit">Finalizar pedido</button>
        </div>
  </form>
</div>
</div>

