$orange-ah: #e4502b;
$white-ah: #fff;
$blue-ah: #3483fa;
$yellow-ah: #fff159;
$beige-ah: #f1e4bb;
$white: #fff;
$black: #000;

$light-gray: #ededed;
$light-gray-1: #cbcbcb;
$gray: #302f34;
$medium-gray: #bbbbbb;
$green: #86ad90;
$brown: #7b4235;
$blue: #006fae;
$black: #000;

$turqueza: #6ec5b8;
$red: #e74c3c;
$brown-light: #978b7d;

$yellow: #fee600;
$ml-blue: #052e6c;

$beige: #f1e4ba;

$ocean: #61dfd4;


$v1: #9bceb5;