.container {
  display: grid;
  height: 100%;
  grid-template-columns: 20% auto 20% ;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
  grid-template-areas:
  ". . ."
  ". content ."
  ". . .";
}

.img-container {
  grid-area: content;
  justify-self: center;
  align-self: center;
  img {
    display: block;
    width: 400px;
  }
  button {
    padding: 10px 25px;
  }
  }

